@page "/"
@using FluentMultiSelect.Components.Pages.Shared
<PageTitle>Home</PageTitle>

@page "/select-test"

<h3>Single Select Example</h3>

<SelectList Label="Choose a Category"
            Data="@Categories"
            @bind-Value="@SelectedCategory"
            OnChange="HandleCategoryChanged"
            Placeholder="Select category" />

<p>Selected Category: @SelectedCategory</p>

<hr />

<h3>Multi Select Example</h3>

<SelectList Label="Choose Tags"
            IsMultiSelect="true"
            Data="@Tags"
            @bind-Values="@SelectedTags"
            OnChange="HandleTagsChanged"
            Placeholder="Select tags" />

<p>Selected Tags: @string.Join(", ", SelectedTags)</p>
