<div >
    <FluentSelect TOption="string"
                  Multiple="@IsMultiSelect"
                  Label="@Label"
                  Items="@Data"
                  PlaceHolder="@Placeholder"
                  Value="@Value"
                  ValueChanged="@OnValueChanged"
                  Values="@Values"
                  ValuesChanged="@OnValuesChanged" />
</div>
