@using MudBlazor
@using System.Collections.Generic

<div id="@ChartContainerId" class="donut-chart-wrapper">

    <MudPaper Class="donut-chart-container">

        <div class="donut-title">@Title</div>

        <MudChart ChartType="ChartType.Donut"
                  Width="@Width"
                  Height="@Height"
                  InputData="@DataValues"
                  InputLabels="@DataLabels">


            <CustomGraphics>
                <g class="donut-center-group" @onclick="OnCenterClick">
                    <title>@CenterTooltipText</title>

                    <text class="donut-inner-title"
                          x="50%" y="45%"
                          dominant-baseline="middle"
                          text-anchor="middle">
                        @InnerLabel
                    </text>

                    <text class="donut-inner-text"
                          x="50%" y="55%"
                          dominant-baseline="middle"
                          text-anchor="middle">
                        @TotalValue
                    </text>
                </g>
            </CustomGraphics>

        </MudChart>

    </MudPaper>

</div>
