@using MudBlazor

<div id="@ChartContainerId" class="donut-chart-wrapper">

    <MudPaper Class="donut-chart-outer"
              Elevation="1"
              style="@Style">

        <div class="donut-title">@Title</div>

        <div class="donut-chart-container">

            <MudChart @ref="_chart"
                      ChartType="ChartType.Donut"
                      InputData="DataValues"
                      InputLabels="DataLabels"
                      Class="donut-chart"
                       />

            <div class="donut-center-group" @onclick="OnCenterClick">
                <div class="donut-inner-title">@InnerLabel</div>
                <div class="donut-inner-text">@Total</div>
            </div>

        </div>

    </MudPaper>

</div>
