@using Microsoft.AspNetCore.Components
@using MudBlazor
@using DonutChartSolution

<div class="donut-chart-container" style="width:@Width; height:@Height;">
    <p class="donut-title">@Title</p>
<MudChart ChartType="ChartType.Donut"
          Width="@Width"
          Height="@Height"
          InputData="@DataValues"
          InputLabels="@DataLabels"
          @bind-SelectedIndex="@SelectedIndex">

        <CustomGraphics>
            <text class="donut-inner-text" x="50%" y="45%" dominant-baseline="middle" text-anchor="middle"
                  @onclick="OnCenterClick">@InnerLabel</text>
            <text class="donut-inner-text" x="50%" y="55%" dominant-baseline="middle" text-anchor="middle"
                  @onclick="OnCenterClick">@Data.Sum(kv => kv.Value)</text>
        </CustomGraphics>
    </MudChart>
    <div class="donut-tooltip">Click a slice to navigate</div>
</div>
